div.tabs {
	display: flex;
	margin: 0 auto;
}

div.tab {
	width: 98px;
	height: 31px;
	border-radius: 3px;
	font-family: 'Roboto';
	border: solid 1px #d6d6d6;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #6a6a6a;
	font-size: 16px;
}

div.tab.active {
	border: 1px solid #1797ff;
	color: #1797ff;
}

div.tab.left {
	border-radius: 2px 0 0 2px;
}

div.tab.right {
	border-radius: 0 2px 2px 0;
}

@media only screen and (max-width: 560px) {
	div.tab {
		font-size: 14px;
	}
}