<div class="tabs">
  <div class="tab left" [ngClass]="{ 'active' : tabSelected == 'all' }" (click)="setTab('all')">All</div>
  <div class="tab right" [ngClass]="{ 'active' : tabSelected == 'favs' }" (click)="setTab('favs')">My faves</div>
</div>