<div class="paginator">
  <div class="arrow-left" (click)="navigate('left')"></div>
  <div *ngFor="let index of paginatorIndexes" 
    [ngClass]="{ 'active' : index == selectedIndex }"
    (click)="selectIndex(index)"
  >
    {{index}}
  </div>
  <div class="arrow-right" (click)="navigate('right')"></div>
</div>