div.paginator {
	display: flex;
	justify-content: center;
	user-select: none;
	margin-top: 30px;
}

div.arrow-left, div.arrow-right {
	background-image: url('src/assets/icons/arrow.png');
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: center;
}

div.arrow-left {
	transform: rotate(180deg);
}

div.paginator > div {
	width: 32px;
	height: 32px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	border-radius: 9px;
	margin: 0 4px;
	font-family: Roboto;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(0, 0, 0, 0.65);
	cursor: pointer;
}

div.paginator > div.active {
	background-color: #1890ff;
	color: #fff;
}