div.categories-dropdown {
	width: 240px;
	height: 35px;
	border: 1px solid #2e2e2e;
	border-radius: 4px;
	background-color: #fff;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	font-family: Roboto;
	font-size: 14px;
	user-select: none;
}

div.selected-category {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 0 12px;
}

p.selected-option {
	margin: 0;
}

div.arrow-down {
	position: absolute;
	right: 12px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-size: contain;
	transform: rotate(90deg);
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-image: url('src/assets/icons/arrow.png');
}

ul.dropdown {
	padding: 0;
	width: 240px;
	position: absolute;
	background-color: #fff;
	top: 36px;
	left: 0;
	margin: 0;
	list-style: none;
	box-shadow: 0 2px 2px 0 #dad8d8;
	z-index: 1;
}

li.option {
	width: 216px;
	height: 46px;
	padding: 0 12px;
	display: flex;
	align-items: center;
}

li.option:hover {
	background-color: #fbfbfb;
}

div.option-image {
	width: 24px;
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 13px;
}