<div class="categories-dropdown">
  <div class="selected-category" (click)="toggleDropdown()">
    <p class="selected-option">{{ selectedCategory ? selectedCategory.name : 'Select your news' }}</p>
    <div class="arrow-down"></div>
  </div>
  
  <ul *ngIf="shownDropdown" class="dropdown">
    <li class="option" *ngFor="let category of categories" (click)="setCategory(category)">
      <div class="option-image" [ngStyle]="{ backgroundImage: category.getImageURL() }"></div>
      <p class="option-name">{{category.name}}</p>
    </li>
  </ul>
</div>