div.header {
	font-family: Baskerville;
	height: 114px;
	display: flex;
	align-items: center;
	padding: 0 150px;
	box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
	background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
	position: relative;
}

h1.header__title {
	font-size: 28px;
	font-weight: 300;
	margin: 0;
}

@media only screen and (max-width: 800px) {
	div.header {
		height: 80px;
		padding: 0 100px;
	}
}

@media only screen and (max-width: 560px) {
	div.header {
		padding: 0 50px;
	}

	h1.header__title {
		font-size: 20px;
	}
}

@media only screen and (max-width: 360px) {
	div.header {
		padding: 0 20px;
	}
}