div.card {
	width: calc((100vw - 340px) / 2);
	height: 100px;
	margin: 15px 0;
	background-color: #fefefe;
	border: 1px solid #979797;
	border-radius: 6px;
	position: relative;
	display: flex;
	flex-direction: row;
	font-family: Roboto;
	cursor: pointer;
}

div.card:hover{
	filter: brightness(80%);
	transition: .5s filter;
}

section.info-section, section.fav-section {
	height: 100%;
}

section.info-section {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 0 26px;
	justify-content: center;
}

div.news-header {
	width: 100%;
	height: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

p.header-info {
	margin: 0;
	color: #606060;
	font-size: 12px;
}

div.clock {
	width: 20px;
	height: 20px;
	margin: 0 8px 0 0;
	background-image: url('src/assets/icons/timer.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

h2.news-title {
	font-size: 16px;
	margin: 8px 0 0;
	color: #606060;
	line-height: 1.5;
	font-weight: 300;
}

section.fav-section {
	width: 100px;
	background-color: #f5f5f5;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.heart {
	width: 26px;
	height: 24px;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}

@media only screen and (max-width: 1440px) {
	h2.news-title {
		font-size: 16px;
		line-height: 1.2;
	}

	section.fav-section {
		width: 70px;
	}

	div.heart {
		width: 24px;
		height: 22px;
	}
}

@media only screen and (max-width: 1250px) {
	h2.news-title {
		font-size: 14px;
		line-height: 1.3;
	}
}

@media only screen and (max-width: 1000px) {
	section.info-section {
		display: flex;
		flex: 1;
		flex-direction: column;
		padding: 0 18px;
		justify-content: center;
	}

	div.clock {
		width: 16px;
		height: 16px;
	}

	h2.news-title {
		font-size: 12px;
		line-height: 1.3;
	}

	p.header-info {
		font-size: 11px;
	}

	section.fav-section {
		width: 50px;
	}

	div.heart {
		width: 20px;
		height: 18px;
	}
}

@media only screen and (max-width: 900px) {
	p.header-info {
		font-size: 10px;
	}
}

@media only screen and (max-width: 800px) {
	div.card {
		width: 100%;
		max-width: 550px;
		margin: 15px auto;
	}

	p.header-info {
		font-size: 12px;
	}

	div.clock {
		width: 20px;
		height: 20px;
	}

	h2.news-title {
		font-size: 14px;
		line-height: 1.3;
	}
	
	section.fav-section {
		width: 70px;
	}
	
	div.heart {
		width: 24px;
		height: 22px;
	}
}

@media only screen and (max-width: 560px) {
	div.card {
		width: 100%;
		max-width: 550px;
		margin: 10px auto;
	}

	p.header-info {
		font-size: 11px;
	}

	div.clock {
		width: 18px;
		height: 18px;
	}

	h2.news-title {
		font-size: 13px;
		line-height: 1.2;
	}
	
	section.fav-section {
		width: 50px;
	}
	
	div.heart {
		width: 22px;
		height: 20px;
	}
}