<div class="card" (click)="newsClick()">
  <section class="info-section">
    <div class="news-header">
      <div class="clock"></div>
      <p class="header-info">{{news.getCreationInfo()}}</p>
    </div>
    <div class="news-info">
      <h2 class="news-title">
        {{news.title}}
      </h2>
    </div>
  </section>

  <section class="fav-section">
    <div class="heart" (click)="toggleFavorite($event); $event.stopPropagation()" [ngStyle]="{ backgroundImage: news.getHeartImage() }"></div>
  </section>
</div>