/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: "Baskerville";
	src: local("Baskerville"), url(./assets/fonts/Baskerville-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Roboto";
	src: local("Roboto"), url(./assets/fonts/Roboto-Medium.ttf) format("truetype");
}

body {
	margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}