div.news-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

section.content-section {
	background-color: #fcfcfc;
	flex: 1;
	padding: 0;
}

div.tabs-wrapper {
	padding: 70px 150px 20px;
	display: flex;
	justify-content: center;
}

div.categories-wrapper {
	display: flex;
	padding: 0 150px;
}

div.news-list {
	position: relative;
	display: grid;
	padding: 0 150px;
	margin-top: 20px;
	grid-template-columns: 1fr 1fr;
	gap: 0 40px;
	max-height: calc(100vh - 294px);
  overflow: hidden auto;
}

div.loader {
	width: 100vw;
	height: 50px;
	margin: 50px 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('src/assets/icons/loader.svg');
}

h2.no-favorite-text {
	position: absolute;
	font-family: Roboto;
	left: 0;
	right: 0;
	margin: 50px auto;
	font-weight: 100;
	text-align: center;
	color: darkgrey;
}

@media only screen and (max-width: 800px) {
	div.tabs-wrapper {
		padding: 40px 100px 20px;
	}

	div.categories-wrapper {
		padding: 0 100px;
		justify-content: center;
	}

	div.news-list {
		padding: 0 100px;
		grid-template-columns: 1fr;
		max-height: calc(100vh - 230px);
	}
}

@media only screen and (max-width: 560px) {
	div.tabs-wrapper {
		padding: 20px 20px;
	}

	div.categories-wrapper {
		padding: 0 20px;
		justify-content: center;
	}

	div.news-list {
		padding: 0 20px;
		grid-template-columns: 1fr;
		max-height: calc(100vh - 210px);
	}
}