<div class="news-container">
  <app-news-header></app-news-header>

  <section class="content-section">
    <div class="tabs-wrapper">
      <app-tabs (tabOutput)="switchTab($event)"></app-tabs>
    </div>

    <div class="categories-wrapper">
      <app-categories-dropdown [selectedCategory]="category" (categoryOutput)="switchCategory($event)"></app-categories-dropdown>
    </div>

    <div class="news-list" (scroll)="onScroll($event)">
      <ng-container *ngIf="viewMode == 'all'; else favorites">
        <app-news-card *ngFor="let news of news$ | async" [news]="news" (favoriteOutput)="toggleFavorite($event, news)"></app-news-card>
      </ng-container>
      <ng-template #favorites>
        <app-news-card *ngFor="let news of favoriteNews$ | async" [news]="news" (favoriteOutput)="toggleFavorite($event, news)"></app-news-card>
      </ng-template>
    </div>

    <div class="loader" *ngIf="((news$ | async).length == 0 && viewMode == 'all')"></div>
    <h2 class="no-favorite-text" *ngIf="(favoriteNews$ | async).length == 0 && viewMode == 'favs'">You have no favorite news.</h2>
  </section>
</div>